<h2>Our cocktail list chica</h2>
<%= link_to "Add a new cocktail", new_cocktail_path %> 
<br>

<ul>
    <% @cocktails.each do |cocktail| %>
    <li>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>
    <% end %>
</ul>

<%= cl_image_tag("THE_IMAGE_ID_FROM_LIBRARY",
      width: 400, height: 300, crop: :fill) %>